# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# History/logs
*.log
history.json
